@gray-darker: #444444;
@gray-dark: #696969;
@gray: #999999;
@gray-light: #cccccc;
@gray-lighter: #ececec;
@gray-lightest: lighten(@gray-lighter, 4%);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.box {
  margin: 0 auto;
  padding: 0;
  width: 900px;
}

.fullbox {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* nav start */
nav {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#logo {
  justify-self: start;
}
#logo img {
  height: 48px;
}
#logo span {
  font-size: 16px;
}
nav {
  justify-self: end;
}
nav ul {
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin: 0.5rem 1rem;
  /* text-align: right; */
}
nav li a {
  font-family: KapraNeue, brandon-grotesque, sans-serif;
  font-size: 0.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* Herosection start */
#herosection {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.herosection {
  background-color: #495e57;
}
.heroad {
}
.heroad img {
  margin: 20px 0 -30px 0;
  width: 360px;
  height: 380px;
  border-radius: 20px;
  float: right;
}

/* Highlights */
.highlight {
  padding: 50px 0 30px 0;
}
.highlight .header {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: white;
  border: 1px solid @gray-light;
  //border-radius: 1rem;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 29%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);

  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/*Testimonials*/
#testimonials .cards {
  display: flex;
  flex-wrap: wrap;
}

.rating {
  display: flex;
  padding: 1rem;

  width: 20%;
  flex-direction: column;
}
.text-green-600 {
  color: #38a169;
}
.fill-current {
  fill: currentColor;
}
.w-4 {
  width: 1rem;
}
.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}
.h-4 {
  height: 1rem;
}
.reviewer {
  display: flex;
  flex-direction: row;
}
.reviewer img {
  width: 2rem;
  height: 2rem;
}
/*about*/
#about {
  display: flex;
  flex-direction: row;
}
.restauran-about {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.restauran-img {
  width: 45%;
}
.restauran-img img {
  width: 100%;
}

/* footer*/
footer {
  background-color: white;
  margin: 0 auto;
  padding: 0;
  width: 900px;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 3fr;
}
.footer-logo {
  margin: 0px 20px 0 0;
}
